<a href="https://colab.research.google.com/github/v670/MLProjects/blob/main/Market_Basket_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Implementing market basket analysis

In [ ]:
%pip install mlxtend --upgrade

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)

In [ ]:
#Loading neccesary packages
import numpy as np
import pandas as pd

In [ ]:
#Reading Data From Web
df = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

# Data Preparation

In [ ]:
# Modify StockCode to always be a string by prepending '_'
df['StockCode'] = df['StockCode'].apply(lambda x: '_'+str(x))

In [ ]:
# DataFrame for building the recommendation system
orders = df[['InvoiceNo', 'StockCode']]
orders.head()

  InvoiceNo StockCode
0    536365   _85123A
1    536365    _71053
2    536365   _84406B
3    536365   _84029G
4    536365   _84029E

In [ ]:
# DataFrame for retrieving product descriptions
products = df[['StockCode', 'Description']].copy()
products.head()

  StockCode                          Description
0   _85123A   WHITE HANGING HEART T-LIGHT HOLDER
1    _71053                  WHITE METAL LANTERN
2   _84406B       CREAM CUPID HEARTS COAT HANGER
3   _84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4   _84029E       RED WOOLLY HOTTIE WHITE HEART.

In [ ]:
products = products[~products.duplicated()]
products.head()

  StockCode                          Description
0   _85123A   WHITE HANGING HEART T-LIGHT HOLDER
1    _71053                  WHITE METAL LANTERN
2   _84406B       CREAM CUPID HEARTS COAT HANGER
3   _84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4   _84029E       RED WOOLLY HOTTIE WHITE HEART.

In [ ]:
products.shape

(5752, 2)

In [ ]:
# Drop descriptions that are not uppercase
products = products[
    products['Description'].str.upper() == products['Description']
]

In [ ]:
products.shape

(4211, 2)

In [ ]:
# Keep only the first Description of each product
products = products[~products.duplicated(subset=['StockCode'])]
products

       StockCode                          Description
0        _85123A   WHITE HANGING HEART T-LIGHT HOLDER
1         _71053                  WHITE METAL LANTERN
2        _84406B       CREAM CUPID HEARTS COAT HANGER
3        _84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4        _84029E       RED WOOLLY HOTTIE WHITE HEART.
...          ...                                  ...
509369   _85179a              GREEN BITTY LIGHT CHAIN
512588    _23617  SET 10 CARDS SWIRLY XMAS TREE 17104
527065   _90214U            LETTER "U" BLING KEY RING
537224   _47591b             SCOTTIES CHILDRENS APRON
540421    _23843          PAPER CRAFT , LITTLE BIRDIE

[3905 rows x 2 columns]

In [ ]:
# Set the index to StockCode
products = products.set_index('StockCode')

# Convert to Series for eve easier lookups
products = products['Description']

In [ ]:

# Test it out
products['_21755']

'LOVE BUILDING BLOCK WORD'

In [ ]:
def string_list(x):
    return [str(i) for i in x]

orders = orders.groupby('InvoiceNo')['StockCode'].apply(string_list).reset_index()
orders.head()

  InvoiceNo                                          StockCode
0    536365  [_85123A, _71053, _84406B, _84029G, _84029E, _...
1    536366                                   [_22633, _22632]
2    536367  [_84879, _22745, _22748, _22749, _22310, _8496...
3    536368                   [_22960, _22913, _22912, _22914]
4    536369                                           [_21756]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
te = TransactionEncoder()

te.fit(orders['StockCode'])
orders_1hot = te.transform(orders['StockCode'])

In [ ]:
# convert orders_1hot to a DataFrame
orders_1hot = pd.DataFrame(orders_1hot, columns =te.columns_)
# Inspect the first 5 rows of the DataFrame
orders_1hot.head()

   _10002  _10080  _10120  ...  _gift_0001_40  _gift_0001_50     _m
0   False   False   False  ...          False          False  False
1   False   False   False  ...          False          False  False
2   False   False   False  ...          False          False  False
3   False   False   False  ...          False          False  False
4   False   False   False  ...          False          False  False

[5 rows x 4070 columns]

In [ ]:
from mlxtend.frequent_patterns import fpgrowth

In [ ]:

%%timeit -n1 -r1
fpgrowth(orders_1hot, min_support=0.01, max_len=2, use_colnames=True)

1 loop, best of 1: 5.99 s per loop

In [ ]:
is_fp = fpgrowth(orders_1hot, min_support=0.01, max_len=2, use_colnames=True)

In [ ]:
is_fp.head()

    support   itemsets
0  0.086718  (_85123A)
1  0.017915  (_84029G)
2  0.016911  (_84029E)
3  0.014865   (_22752)
4  0.013205   (_71053)

In [ ]:
from mlxtend.frequent_patterns import association_rules

In [ ]:
is_fp

       support          itemsets
0     0.086718         (_85123A)
1     0.017915         (_84029G)
2     0.016911         (_84029E)
3     0.014865          (_22752)
4     0.013205          (_71053)
...        ...               ...
997   0.010077  (_23203, _23344)
998   0.010039  (_22086, _23344)
999   0.011853  (_23295, _23293)
1000  0.010077  (_23296, _23293)
1001  0.010463  (_22112, _23355)

[1002 rows x 2 columns]

In [ ]:
rules = association_rules(is_fp, metric="lift", min_threshold=10)
rules.head()

  antecedents consequents  antecedent support  ...       lift  leverage  conviction
0    (_21754)    (_21755)            0.030386  ...  15.490025  0.010727    1.566993
1    (_21755)    (_21754)            0.024363  ...  15.490025  0.010727    1.831815
2    (_22748)    (_22745)            0.016988  ...  43.387751  0.011844    3.434626
3    (_22745)    (_22748)            0.016448  ...  43.387751  0.011844    3.738955
4    (_22726)    (_22727)            0.038726  ...  15.431412  0.023326    2.692261

[5 rows x 9 columns]

In [ ]:

rules.shape

(280, 9)

In [ ]:
def predict(antecedent, rules, max_results= 6):
    
    # get the rules for this antecedent
    preds = rules[rules['antecedents'] == antecedent]
    
    # a messy way to convert a frozen set with one element to string
    preds = preds['consequents'].apply(iter).apply(next)
    
    return preds[:max_results].reset_index(drop=True)

In [ ]:
preds = predict({'_20712'}, rules)
preds

0    _22379
1    _20713
2    _21930
3    _21931
4    _22386
5    _21928
Name: consequents, dtype: object

In [ ]:
print(products['_20712'])

JUMBO BAG WOODLAND ANIMALS

In [ ]:
for stockid in preds:  
    print(products[stockid])

RECYCLING BAG RETROSPOT
JUMBO BAG OWLS
JUMBO STORAGE BAG SKULLS
JUMBO STORAGE BAG SUKI
JUMBO BAG PINK POLKADOT
JUMBO BAG SCANDINAVIAN PAISLEY

In [ ]:
print(products['_22112'])

CHOCOLATE HOT WATER BOTTLE

In [ ]:
# get the predictions
preds = predict({'_22112'}, rules)

# Display the descriptions of the predictions
for stockid in preds:  
    print(products[stockid])

HOT WATER BOTTLE TEA AND SYMPATHY
SCOTTIE DOG HOT WATER BOTTLE
HOT WATER BOTTLE I AM SO POORLY
HOT WATER BOTTLE KEEP CALM